* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    letter-spacing: 1.6px;
    color: #fff;
    background: hsl(210deg, 30%, 8%);
    font-family: serif;
    padding: 5%;
}

.first {
    display: grid;
    grid-template-columns: 25% 75%;
    gap: 16px;
    border: 3px solid gainsboro;
    padding: 1%;
    margin: 1% 0;

    & .child {
        text-align: center;
        border: 1px solid gainsboro;

    }

}

.second {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 16px;
    border: 3px solid gainsboro;
    padding: 1%;
    margin: 1% 0;

    & .child {
        text-align: center;
        border: 1px solid gainsboro;

    }
}

.third {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 16px;
    border: 3px solid gainsboro;
    padding: 1%;
    margin: 1% 0;

    & .child {
        text-align: center;
        border: 1px solid gainsboro;

    }
}