@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

:root {
    --main-white: #eee;
    --main-black: #222;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* 10px / 16px = 0.625 = 62.5% */
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    font-family: 'Press Start 2P', sans-serif;
    color: var(--main-white);
    background-color: var(--main-black);
}

.container-header{
    max-width: 130rem;
    padding: 1rem 3.2rem;
    margin: 0 auto;
}

.container-interface {
    max-width: 100rem;
    padding: 0 3.2rem;
    margin: 0 auto;
}

.button {
    font-size: 2rem;
    font-family: inherit;
    padding: 0 4rem;
    border: none;
    color: var(--main-black);
    background-color: var(--main-white);
    text-align: center;
    line-height: 3;
    cursor: pointer;

    transition: all 0.3;

    &:active {
        transform: translateY(5%);
    }

    &:hover {
        background-color: #eeeeeea0;
    }
}

.block {
    border: 1px solid greenyellow;
}


header {
    width: 100vw;
    height: 10vh;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.output {
    position: relative;
    margin-top: 3rem;
    width: 100vw;
    height: 30vh;

    & .header-primary {
        font-size: 3.2rem;
        font-weight: 700;
        padding-bottom: 3rem;
        text-align: center;
    }

    & .line {
        width: 100%;
        position: absolute;
        top: 60%;
        height: 0.8rem;
        background-color: var(--main-white);
    }

    & .num {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 12rem;
        height: 12rem;
        font-size: 4rem;
        line-height: 3;
        text-align: center;
        color: var(--main-black);
        background-color: var(--main-white);


    }
}

.interface {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 4.2rem;
    width: 100vw;
    height: 50vh;

    & .left {
        display: grid;
        row-gap: 3rem;
        justify-content: center;        



        & .guess {
            display: block;
            width: 20rem;
            height: 10rem;
            font-size: 4rem;
            font-family: inherit;
            color: inherit;
            background-color: var(--main-black);
            border: 4px solid var(--main-white);
            text-align: center;

            &:focus {
                outline: none;
            }

        }

        & .guess-btn {
            display: block;
            width: 20rem;
            height: 10rem;
        }
    }

    & .right {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 3rem;
        font-size: 2rem;
        justify-content: center;

        & .message {
            grid-row: 1 / 3;
        }
    }

}